*{

    transition: all .5s;
}

.messenger {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
}

.row {
    height: 100%;
}

.left-side {
    padding: 5px 0px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: start;
}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 12px 8px;
}

.image-name {
    display: flex;
    cursor: pointer;
}





.name {

    display: flex;
    justify-content: center;
    align-items: center;
}



.icons {
    display: flex;
    position: relative;

}

.theme_logout.show {
    transform: scale(1);
}

.theme_logout {
    width: 200px;
    background-color: rgb(20, 24, 59);
    transform: scale(0);
    position: absolute;
   
    top: 100%;
    padding: 10px;
    color: #fff;
}

.on,
.of {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.on,
.of label {
    cursor: pointer;
    color: #fff;
}


.logout {
    display: flex;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}

.icon {
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    border-radius: 24px;
    cursor: pointer;
    background-color: #E5E5E5;
    padding: 4px;

}

.icon:hover {

    transform: scale(1.5);
    background-color: transparent;
}


.friend-search {
    padding: 0px 8px;
}

.search {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    margin: 20px 0px;
}

.form-control:focus {

    outline: none;
    border: none;
}

button {
    padding: 12px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border: none;
    color: grey;
    font-size: 20px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

}

.form-control {
    width: 100%;
    padding-left: 0px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50pc;
    background-color: #fff0;
    border: none;
    color: grey;
    font-size: 18px;
    padding: 2px 0 2px 0;
}

::placeholder {
    color: grey;
}


.row {
    display: flex;
    width: 100%;
}


.col-3 {

    width: calc(100% / 4);
}

.col-9 {

    width:calc(100% / 1);

}


::-webkit-scrollbar {
    overflow: hidden;

}



.friends {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    margin-top: 1.4rem;
   
    

}

::-webkit-scrollbar {
    display: none;
}

.hover-friend.active {
    background-color:rgba(0,0,0,0.089);
}

.hover-friend {
    cursor: pointer;
}

.hover-friend:hover {
    background-color: rgba(243, 190, 46, 0.5);
}

.hover-friend{

     margin:0.5rem 0 0.5rem 0;
     padding: 1rem;
    height: auto;
    width: 100%;

}




.active_icon {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: rgb(43, 228, 43);
    right: -2px;
    bottom: 6px;
    border: 1px solid #fff;
}


.friend-name-seen {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friend-name {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

h4.unseen_message {
    font-weight: 700 !important;
}

h4 {
    color: var(--text-color);
    font-weight: 300;
}

.msg-time span.unseen_message {
    font-weight: 700 !important;
}


span {
    font-size: 12px;
    color: var(--text-color);
}


.seen-unseen-icon {
    display: flex;
    justify-content: center;
    align-items: center;

}

.seen-unseen-icon img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.unseen,
.delivared {
    color: var(--text-color);
}

.seen-icon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: aquamarine;
}